.login {
  background-color: #18181b;
  min-height: 900px;
  padding-left: 48px;
  padding-right: 48px;
  font-family: Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  overflow: hidden;
}

@media (width <= 991px) {
  .login {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.web-app-nav-bar {
  color: #c1f17e;
  white-space: nowrap;
  letter-spacing: -1.12px;
  background-color: #18181b;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  display: flex;
}

@media (width <= 991px) {
  .web-app-nav-bar {
    max-width: 100%;
    white-space: initial;
  }
}

.container {
  justify-content: start;
  align-self: stretch;
  align-items: center;
  gap: 24px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  margin-left: 0px;
}

@media (width <= 991px) {
  .container {
    white-space: initial;
  }
}

.logo {
  justify-content: start;
  align-self: stretch;
  align-items: center;
  gap: 4px;
  min-height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

@media (width <= 991px) {
  .logo {
    white-space: initial;
  }
}

.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  align-self: stretch;
  width: 28px;
  margin-top: auto;
  margin-bottom: auto;
}

.eco-track {
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  color: #c1f17e;
  font-size: 28px;
  font-weight: 700;
}

.onboarding-short-text-response {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 700px;
  padding-top: 200px;
  padding-bottom: 64px;
  display: flex;
  overflow: hidden;
}

@media (width <= 991px) {
  .onboarding-short-text-response {
    max-width: 100%;
    padding-top: 100px;
  }
}

.container-2 {
  width: 400px;
  max-width: 100%;
}

.step-info {
  color: #dedede;
  text-align: center;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  display: flex;
}

.welcome-to-carbon-wise {
  letter-spacing: -.28px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

.profile-description {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.buttons {
  white-space: nowrap;
  width: 100%;
  margin-top: 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

@media (width <= 991px) {
  .buttons {
    white-space: initial;
  }
}

.button-filled-standard {
  color: #000a14;
  background-color: #a7ee43;
  border-radius: 8px;
  align-self: stretch;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

@media (width <= 991px) {
  .button-filled-standard {
    white-space: initial;
  }
}

.button-outlined-standard {
  color: #d6dde6;
  text-align: center;
  border-radius: 8px;
  align-self: stretch;
  width: 100%;
  margin-top: 16px;
  padding: 8px;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}

@media (width <= 991px) {
  .button-outlined-standard {
    white-space: initial;
  }
}

/* Hide scrollbar for the entire page */
html, body {
  overflow: hidden;
  height: 100%;
}